@model IEnumerable<Distro2.Models.IndexMessageViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Messages from users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sender)
        </td>
        <td>
            @Html.ActionLink("see messages", "ListMessage", new { id=item.messageId })
        </td>
    </tr>
}

</table>
